body{
    margin: 0px;
    padding: 0px;
    font-family: Mukta Malar;
    background-color: white;
    color: black;

    
}

body .biodata{
    margin: 80px;
    margin-top: 0px;

}



body .berandaAtas, .biodata{
    /* margin: auto; */
    margin: 50px;
    margin-right: 70px;
    margin-top: 20px;

}

/* navigasiHeader */

.navigasiHeader{
    display: flex;
    align-items: center;
    background-color: #0C134F;
    border: 20px;
    z-index: 9999;
}


.navigasiHeader .tombolBack a img{
    width: 15px;
    margin-left: 50px;

    
}

/* logo */




.navigasiHeader a h1{
    color: white;
    font-size: 30px ;
    font-family: galindo;
    margin-left: 70px;
}

.navigasiHeader a{
    text-decoration: none;
}



/* navigasiNav */

.navigasiHeader .navigasiNav a{
    color: white;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-right: 50px;
    

}

.navigasiHeader .navigasiNav{
    margin-left: auto;
    margin-right: 100px;
}



.navigasiHeader .navigasiNav a:hover{
    text-decoration: underline;
    color: #DBDFEA;
    text-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);
    font-family: Mukta Malar;
    
}



/* breadcrumb */

/* BreadCrumb */

.breadCrumb{
    /* display: inline; */
    /* justify-content: left; */
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.breadCrumb a{
    text-decoration: none;
    color: black;
    /* margin-right: 0px; */
    
}

.breadCrumb a:hover{
    color: gray;
}






/* konten */


.berandaAtas img{
    float: left;
    width: 60%;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.biodata .biodataPembeli{
    float: right;
    width: 20%;
}

.berandaAtas>h1{
    text-align: center;
}


/* detail konten */





/* main utama */





/* button tersedia */
.informasiKonten .tiket .rincianKelasTiket .kelasTiket .tersedia{
    color:black;
    text-decoration: none;
    background-color: #ACB1D6;
    width: 70px;
}

.informasiKonten .tiket .rincianKelasTiket .kelasTiket .tersedia:hover{
    background-color: #a0a4c6;
    box-shadow: grey;

}

.informasiKonten .tiket .rincianKelasTiket .kelasTiket .tersedia a{
    text-decoration: none;
    color: #000000;
    font-family: Galindo;
}














/* footer */

.footeren{
    clear: both;
    width: auto;
    height: 140px;
    background: #0C134F;
    color: white;
    font-weight: bold;
    font-size: 12px;
}



.footeren footer{
    background-color: #0C134F;
    margin-top:80px ;
    color: white;
    height: 140px;
    
}

.footeren footer>p{
    margin-top: 5px;
    text-align: center;
    margin-bottom: 0;
}

.footeren footer>p:nth-child(5){
    font-weight: 1000;
    margin-top: 20px;
}









/* untuk border pemesanan */

.tiket .rincianKelasTiket .kelasTiket .rincianTiket{
    border: 1px solid red;
    border-bottom: 1px solid red;
    border-radius: 20px;
    background-color: grey;

}














.biodata .biodataPembeli input{
    border-radius: 5px;
    width: 100%;
    height: 30px;
    text-align: left;
}

 /* .biodata .biodataPembeli #number::-webkit-inner-spin-button, ::-webkit-outer-spin-button{
    -webkit-appearance: none;
} */

.biodata .biodataPembeli #number{
    width: 40%;
}

.biodata .biodataPembeli .sumbit{
    /* margin-right: 20px; */
    width: 75px;
    background-color: aliceblue;
    float: right;
    border-radius: 5px;


}

.biodata .biodataPembeli .add{
    background-color: #0C134F;
    border-radius: 360px;
    font-weight: 100;
    color: white;
}
.biodata .biodataPembeli .minus{
    background-color: #0C134F;
    border-radius: 360px;
    font-weight: 100;
    color: white;
}


.biodata .biodataPembeli .add:hover{
    background-color: white;
    color: #0C134F;
}

.biodata .biodataPembeli .minus:hover{
    background-color: white;
    color: #0C134F;
} */

.biodata .biodataPembeli .sumbit a{
    text-decoration: none;
    text-align: center;
    color: green;
}


.biodata .biodataPembeli .reset{
    width: 75px;
    text-align: center;
    color: red;
    background-color: aliceblue;
    border-radius: 5px;
}

.biodata label{
    font-weight: 1000;
}

.biodata{
    grid-column: 2;
}


.biodata .biodataPembeli{
    margin-bottom: 20px;
    align-items: center;
    margin-right: 100px;
}

.berandaAtas>h1{
    width: 100%;
    text-align: center;
}
